body {
    font-family: 'Comic Sans MS', Arial, sans-serif;
    background: linear-gradient(135deg, #ffd6e8, #fff0f7);
    text-align: center;
}

h1 {
    color: #ff5fa2;
    animation: float 2s infinite;
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-8px); }
    100% { transform: translateY(0); }
}

/* Form */
.form-produk {
    background: white;
    width: 320px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 5px 15px pink;
}

input {
    width: 90%;
    padding: 8px;
    margin: 6px;
    border-radius: 10px;
    border: 1px solid #ffb6d5;
}

/* Button */
button {
    background: #ff7eb9;
    color: white;
    border: none;
    padding: 10px;
    width: 95%;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background: #ff5fa2;
}

/* Gallery */
#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Card Produk */
.card {
    background: white;
    width: 200px;
    margin: 15px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 5px 15px pink;
    animation: pop 0.5s;
}

@keyframes pop {
    from { transform: scale(0.8); }
    to { transform: scale(1); }
}

.card img {
    width: 100%;
    border-radius: 15px;
}

.harga {
    color: #ff5fa2;
    font-weight: bold;
}

/* Hapus */
.hapus {
    background: #ff9fcf;
    margin-top: 5px;
}
